<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Post</title>
</head>
<body>
    <nav>
        <a href="/">Recent Posts</a>
        <a href="/create/post">Create Post</a>
    </nav>
    <form method="post">
    <h1>Make a Post!</h1>
    {% csrf_token %}
    {{form}}

    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>